.about {
  padding-top: 120px;
}
.about-image {
  position: relative;
}

.about-image:after,
.about-image:before {
  content: "";
  position: absolute;
  height: 65%;
  width: 15px;
  background: rgba(5, 187, 170, 0.6);
  z-index: 99;
}

.about-image:before {
  left: 0;
  top: 0;
}

.about-image:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

.about-content ul li b {
  min-width: 120px;
  display: inline-block;
  position: relative;
  margin-right: 7px;
}

.about-content ul li b:after {
  content: ":";
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}
