.not-found {
  padding: 30px;
}

.not-found-row {
  align-items: center;
  height: 100vh;
}

.not-found h1 {
  font-size: 4.5rem;
  margin-bottom: 30px;
}

.not-found h2 {
  font-size: 3.5rem;
  margin-bottom: 60px;
}
